server:
  port: 8080

spring:
  application:
    name: travel-journal-app

  datasource:
    url: jdbc:postgresql://localhost:5432/travel_journal
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false

  flyway:
    enabled: true
    locations: classpath:db/migration
